<header>
    <nav>
      <ul>
        <li><a routerLink="/auth">Login</a></li>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/admin-dashboard">Admin Dashboard</a></li>
        <li><a routerLink="/event-management">Event Management</a></li>
        <li><a routerLink="/reservation">Reservation</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </nav>
</header>
  
<main>
  
</main>
  
<footer>
    <p>&copy; 2024 Your Application Name</p>
</footer>
